.constructorContainer {
    margin: 0;
    /* To remove default bottom margin */
    padding-left: 0;
    /* To remove default left padding */
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    /* max-height: 65vh; */
    /* border: solid red; */
}

.ingredientsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 60vh;
    /* border: solid red; */
    /* overflow-y: scroll; */
}

/*  через выделение на className не работает(, чтоб убрать у 1 и ласт элемента
.bun {
    scrollbar-width:0
} */

.price {
    display: flex;
    align-items: center;
}

.priceContainer {
    display: flex;
    text-align: center;
    justify-content: end;
    align-items: center;
    /* border: solid yellow; */
}