.container {
    display: flex;
    flex-direction: row;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-top: 30px;
    gap: 30px;
}

/* TODO: unused */
.activeNav {
    color: "#f2f2f3"
}

.infoText {
    text-align: start;
}