.container {
  display: flex;
}

.item {
  display: flex;
  flex-basis: 50%;
}

.error {
  color: red;
  font-size: 80%;
  display: flex;
  flex-direction: column;
}

.error-contents {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  padding: 16px;
  margin: 20px;
  background-color: #eee;
}

.loading {
  color: blue;
  font-style: italic;
}