.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: solid red; */
}

.nav {
    /* background-color: red; */
    display: flex;
    align-items: center;
}

.linkContainer {
    /* background-color: green; */
    display: flex;
    align-items: center;
}

/* unused*/
.activeNav {
    color: "#f2f2f3";
    background-color: rgb(91, 114, 91);
}